 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

 /*---------------------------------------
  PRE LOADER              
-----------------------------------------*/

 .preloader {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 99999;
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
     background: none repeat scroll 0 0 #ffffff;
 }

 .spinner {
     border: 1px solid transparent;
     border-radius: 5px;
     position: relative;
 }

 .spinner:before {
     content: '';
     box-sizing: border-box;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 45px;
     height: 45px;
     margin-top: -10px;
     margin-left: -10px;
     border-radius: 50%;
     border: 1px solid #959595;
     border-top-color: #ffffff;
     animation: spinner .9s linear infinite;
 }

 @-webkit-@keyframes spinner {
     to {
         transform: rotate(360deg);
     }
 }

 @keyframes spinner {
     to {
         transform: rotate(360deg);
     }
 }



 /*---------------------------------------
  GENERAL               
-----------------------------------------*/

 * {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 *:before,
 *:after {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 ::-webkit-scrollbar {
     /* width: 6px;*/
     height: 6px;
 }

 ::-webkit-scrollbar-thumb {
     cursor: pointer;
     background: #252525;
 }

 html,
 body {
     height: 100%;
     /*  overflow: hidden;*/
 }

 .top-scroll.active {
     opacity: 1;
     transition: .3s
 }

 .top-scroll {
     position: fixed;
     bottom: 40px;
     right: 40px;
     height: 50px;
     width: 50px;
     background: #fd4040;
     border-radius: 50%;
     cursor: pointer;
     transition: .3s;
     opacity: 0;
     z-index: 99999
 }

 .top-scroll:before {
     width: 20px;
     height: 20px;
     transform: rotate(45deg);
     border: 5px solid #080f17;
     border-right: none;
     border-bottom: none;
     content: '';
     display: block;
     margin: 0 auto;
     left: 0;
     right: 0;
     top: 20px;
     position: absolute
 }



 /*---------------------------------------
 NAWIGACJA HAMBURGER              
-----------------------------------------*/
 .page {
     height: 100%;
     background: url('../Images/back2.svg');
 }

 .content {
     // essential
     height: 200%; // make higher or you'll see background when rotated
     transform-origin: top left;
     transition: transform .7s cubic-bezier(1.000, 0.005, 0.240, 1.000);
     ;

     // styling
     background-color: #f0f0f0;
 }

 .content_inner {
     // essential
     height: 50%; // compensate for higher .content
     overflow-y: auto; // set expected overflow

     // styling
     padding: 50px 20%;
 }

 /* basically all styling from now on */
 .menu_toggle {
     z-index: 900;
     position: fixed;
     top: 0;
     left: 0;
     display: block;
     cursor: pointer;
     width: 100px;
     height: 80px;
     background-color: #fd4040;
     border-bottom-right-radius: 100%;
 }

 .menu_toggle:active i {

     opacity: 0.8;
 }

 .menu_toggle i {
     color: #f0f0f0;
 }

 .menu_open,
 .menu_close {
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -15px;
     margin-left: -12px;
     transition: transform .7s cubic-bezier(1.000, 0.005, 0.240, 1.000);
     ;
 }

 .menu_open {
     transform-origin: -100px -100px;
 }

 .menu_close {
     transform: rotate(20deg);
     transform-origin: -100px -160px;
 }

 .menu_items {
     position: fixed;
     bottom: 0;
     left: 50px;
     /* list-style-type: none;*/
     margin: 0;
     padding: 0;
     z-index: 1000;
 }

 .menu_items li {
     height: 60px;
     margin-bottom: 30px;
     transform: translateX(-300px);
     transition: transform .7s 0s cubic-bezier(1.000, 0.005, 0.240, 1.000);
     ;
 }

 /*.menu_items li:nth-child(2) {
     margin-left: 30px;
 }

 .menu_items li:nth-child(3) {
     margin-left: 60px;
 }
.menu_items li:nth-child(5) {
     margin-left: 30px;
 }
.menu_items li:nth-child(6) {
     margin-left: 60px;
 }
*/
 .menu_items a {
     display: block;
     text-decoration: none;
     text-transform: uppercase;
     letter-spacing: 1px;
     color: darken(#f0f0f0, 30%);
     transition: color 2s;
     color: #fd4040;
     font-weight: bolder;
 }

 /*.menu_items .icon {
     position: relative;
     display: inline-block;
     margin-right: 25px;
     color: #f0f0f0;
    
 }*/

 /*.menu_items .icon:after {
     position: absolute;
     top: 50%;
     left: 50%;
     content: '';
     display: block;
     width: 60px;
     height: 60px;
     margin-left: -33px;
     margin-top: -32px;
     border-radius: 100%;
     border: 2px solid #f0f0f0;
     transition: border-color .2s;
 }*/

 /*.menu_items .icon:hover {
     color: #f0f0f0;
 }*/

 /*.menu_items .icon:after {
     border-color: red;
 }*/

 /*.menu_items .icon:active {
     color: red;
 }*/



 /* Let's open up the menu */
 .shazam > .content {
     transform: rotate(-30deg);
 }

 .shazam .menu_open {
     transform: rotate(-20deg);
 }

 .shazam .menu_close {
     transform: rotate(0);
 }

 .shazam .menu_items li {
     transform: translateX(0);
     transition: transform .35s .45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
 }

 .shazam .menu_items li:nth-child(2) {
     transition-delay: .47s;
 }

 .shazam .menu_items li:nth-child(3) {
     transition-delay: .48s;
 }




 body {
     color: #fd4040;
 }


 /************************************************************
 .quick-nav {
     position: fixed;
     top: 50%;
     left: 80px;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     z-index: 100;
     -webkit-transition: all .3s;
     -o-transition: all .3s;
     transition: all .3s;
 }

 .quick-nav li {
     display: block;
     margin-bottom: 10px;
 }

 .quick-nav li a {
     color: #fff;
     opacity: .4;
     text-decoration: none;
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     vertical-align: baseline;
 }

 .quick-nav li a:before {
     content: "";
     height: 9px;
     width: 9px;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
     border: 1px solid #fff;
     display: block;
     float: left;
 }

 .quick-nav li span {
     opacity: 0;
     display: block;
     white-space: nowrap;
     padding-left: 0;
     margin-top: -3px;
     font-size: 13px;
     top: -3px;
     letter-spacing: 1.1px;
     -webkit-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all .5s ease;
     text-transform: uppercase;
     font-weight: 700;
     position: relative;
     letter-spacing: 1.1px;
     -webkit-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all .5s ease;
 }

 .quick-nav li span:hover {
     opacity: 1;
 }

 .quick-nav li:after {
     clear: both;
     display: table;
     float: none;
     content: "";
 }*/

 /*.navbar-toggle {
     position: relative;
     /* float: left;*/
 /*   padding: 9px 10px;
     margin-top: 8px;
     margin-right: 15px;
     margin-bottom: 8px;
     background-color: transparent;
     background-image: none;
     border: 1px solid transparent;
     border-radius: 4px;
 }
*/
 /*.navbar-toggle p {
     color: white;
 }*/

 /*---------------------------------------
  BUTTONS               
-----------------------------------------*/

 .section-btn {
     margin: 32px 0 0 0;
     padding: 0;
 }

 .section-btn a,
 .section-btn button {
     line-height: 45px;
     -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
     perspective: 1000px;
     color: #ffffff;
     font-weight: normal;
 }

 .section-btn a span,
 .section-btn button span {
     position: relative;
     display: inline-block;
     font-size: 18px;
     font-weight: normal;
     letter-spacing: 0.5px;
     padding: 0 25px;
     border: 1px solid white;
     background: transparent;
     border-radius: 50px;
     -webkit-transition: -webkit-transform 0.3s;
     -moz-transition: -moz-transform 0.3s;
     transition: transform 0.3s;
     -webkit-transform-origin: 50% 0;
     -moz-transform-origin: 50% 0;
     transform-origin: 50% 0;
     -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
     transform-style: preserve-3d;
 }

 .section-btn a span::before,
 .section-btn button span::before {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     height: 100%;
     background: #fd4040;
     border-radius: 50px;
     color: #ffffff;
     padding: 0 25px;
     content: attr(data-hover);
     -webkit-transition: background 0.3s;
     -moz-transition: background 0.3s;
     transition: background 0.3s;
     -webkit-transform: rotateX(-90deg);
     -moz-transform: rotateX(-90deg);
     transform: rotateX(-90deg);
     -webkit-transform-origin: 50% 0;
     -moz-transform-origin: 50% 0;
     transform-origin: 50% 0;
 }

 .section-btn a:hover span,
 .section-btn a:focus span,

 .section-btn button:hover span,
 .section-btn button:hover,
 .section-btn button:focus span {
     -webkit-transform: rotateX(90deg) translateY(-22px);
     -moz-transform: rotateX(90deg) translateY(-22px);
     transform: rotateX(90deg) translateY(-22px);
 }

 .section-btn a:hover span::before,
 .section-btn a:focus span::before,

 .section-btn button:hover span::before,
 .section-btn button:hover span::before {
     background: #fd4040;
 }



 /*---------------------------------------
  NAVBAR RIGHT            
-----------------------------------------*/


 .navbar-inverse {
     border-color: transparent;
     background: transparent;
     padding-right: 40px;
     /*position: fixed; */
     position: absolute;
     top: 0;
     right: 0;
     margin-bottom: 0;
     padding: 20px 0;
     color: #f9f9f9;
     font-weight: normal;
     font-size: 17px;
 }

 .navbar-inverse .navbar-nav > li:last-of-type {
     background: #fd4040;
     border-radius: 50px;
     margin-right: 15px;
 }

 .navbar-inverse .navbar-nav > li > a {
     color: white;
     font-size: 12px;
 }

 .navbar-inverse li a {
     font-weight: normal;
     color: #f9f9f9;
     letter-spacing: 0.5px;
     -webkit-transition: all ease-in-out 0.4s;
     transition: all ease-in-out 0.4s;
     padding: 0;
     margin: 15px 20px;
     text-transform: uppercase;
     text-align: center;
 }

 .navbar-inverse > li > a:hover,
 .navbar-inverse > li > a:focus {
     background-color: transparent;
     color: #ffffff;
 }

 .navbar-inverse li a:after {
     content: "";
     position: absolute;
     display: block;
     width: 0px;
     height: 2px;
     margin: auto;
     background: transparent;
     transition: width .6s ease, background-color .6s ease;
 }

 .navbar-inverse li a:hover:after,
 .navbar-inverse li.active > a:after {
     background: #ffffff;
     color: #ffffff;
     width: 100%;
 }

 .navbar-inverse li.active > a {
     background-color: transparent;
     color: #ffffff;
 }

 .navbar-inverse {
     border: none;
     padding-top: 10px;
     padding-right: 25px;
 }

 /*---------------------------------------
  HOME             
-----------------------------------------*/

 #home {

     padding-top: 400PX;
     font-weight: 700;
     background: url('../Images/glowna1.jpg') center center fixed;
     background-size: cover;
     width: 100%;
     height: 100vh;
     object-fit: contain;
 }

 #home h1 {
     color: #ffffff;
     font-size: 4em;
     line-height: 1.2em;
 }

 #home p {
     font-size: 1.5em;
     line-height: 1.3em;
     color: white;
 }

 #home img {
     /*  position: fixed;*/
     position: absolute;
     top: 5px;
     width: 500px;
     left: 150px;
 }









 /*---------------------------------------
  WHAT             
-----------------------------------------*/
 #what {
     padding-top: 100px;
     padding-bottom: 100px;
     background: url('../Images/back2.svg');
     text-align: center;
 }

 #what .container {
     text-align: center;
 }


 #what h1 {
     position: relative;
     font-size: 25px;
     color: white;
     background: #fd4040;
     padding: 15px;
     width: 360px;
     border: 1px solid #fd4040;
     border-radius: 100px;
     left: 50%;
     transform: translateX(-50%);
     letter-spacing: 12px;
 }

 #what p {
     font-size: 18px;
     padding-top: 15px;
     color: black;
 }

 #what .image img {
     width: 150px;
     padding-top: 50px;


 }

 #what .row-1 {
     text-align: center;
     padding-bottom: 100px;
 }

 /*---------------------------------------
   TEAM             
-----------------------------------------*/
 .team {
     padding-top: 100px;

 }

 .our-team {
     text-align: center;
     padding-top: 100px;
     padding-bottom: 100px;
 }

 .our-team .pic {
     border-radius: 50%;
     overflow: hidden;
     position: relative;
 }

 .our-team .pic:before,
 .our-team .pic:after {
     content: "";
     width: 100%;
     height: 100%;
     border-radius: 50%;
     border: 13px solid #e6e5e5;
     position: absolute;
     top: 0;
     left: 0;
 }

 .our-team .pic:after {
     border-color: #fd4040 #e6e5e5 #e6e5e5 #fd4040;
     z-index: 1;
     transform: rotate(-10deg);
     transition: all 0.5s ease 0s;
 }

 .our-team:hover .pic:after {
     transform: rotate(350deg);
 }

 .our-team img {
     width: 100%;
     height: auto;
 }

 .our-team .title {
     font-size: 26px;
     font-weight: bold;
     color: #222;
     padding-bottom: 10px;
     margin: 15px 0 10px 0;
     position: relative;
 }

 .our-team .title:after {
     content: "";
     width: 30px;
     height: 2px;
     background: #222;
     margin: 0 auto;
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
 }

 .our-team .post {
     display: block;
     font-size: 16px;
     font-style: italic;
     color: #777;
 }

 .our-team .icon {
     list-style: none;
     padding: 0;
     margin: 10px 0 0 0;
 }

 .our-team .icon li {
     display: inline-block;
 }

 .our-team .icon li a {
     display: inline-block;
     width: 30px;
     height: 30px;
     line-height: 30px;
     border-radius: 50%;
     background: #e0e0e0;
     font-size: 14px;
     color: #999;
     margin-right: 5px;
     transition: all 0.3s ease-out 0s;
 }

 .our-team .icon li a:hover {
     background: #fd4040;
     color: #fff;
 }

 @media only screen and (max-width: 990px) {
     .our-team {
         margin-bottom: 30px;
     }
 }

 .our-team .description {
     padding-top: 20px;
     border-radius: 20px;
     font-size: 15px;
     color: #fd4040;



 }

 .team {
     text-align: center;
     background: url('../Images/back2.svg');

 }

 .team h1 {
     position: relative;
     font-size: 25px;
     color: white;
     background: #fd4040;
     padding: 15px;
     width: 360px;
     border: 1px solid #fd4040;
     border-radius: 100px;
     left: 50%;
     transform: translateX(-50%);
     letter-spacing: 12px;
 }



 /*-------------------------------
GALERIA
-----------------------------*/
 #project .container-fluid {
     text-align: -webkit-center;
 }

 .nasze {
     position: relative;
     font-size: 25px;
     color: white;
     background: #fd4040;
     padding: 15px;
     width: 297px;
     border: 1px solid #fd4040;
     border-radius: 100px;
     /* left: 50%;
     transform: translateX(-50%);*/
     letter-spacing: 12px;
     margin-bottom: 50px;


 }

 #project {
     background: url('../Images/klienci%20bckg.jpg');
     background-size: cover;
     height: auto;
     padding-top: 100px;
     padding-bottom: 100px;
 }

 #project .row {
     justify-content: center;
 }

 .project-item {
     overflow: hidden;
     position: relative;
     margin-bottom: 25px;
     padding: 0;
     vertical-align: middle;
     text-align: center;
 }

 .project-overlay {
     background: rgba(0, 0, 0, 0.5);
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     opacity: 0;
     -webkit-transition: all ease-in-out 0.4s;
     transition: all ease-in-out 0.4s;
 }

 .project-info {
     padding: 12em 0;
 }

 .project-item img {
     -webkit-transition: all ease-in-out 0.4s;
     transition: all ease-in-out 0.4s;
     width: 100%;
     object-fit: cover;
     height: 277px;
 }

 .project-item:hover img {
     transform: scale(1.1);
 }

 .project-overlay h1 {
     color: #ffffff;
     margin: 0;
 }

 .project-overlay h3 {
     color: #d9d9d9;
     font-size: 14px;
     letter-spacing: 0.2px;
     margin-top: 0;
 }

 .project-item:hover .project-overlay {
     opacity: 1;
 }


 /*******************************
TESTIMONTIALS
 -------------------------------*/

 .demo {
     background: url('../Images/klienci%20bckg.jpg');
     object-fit: cover;
     padding-top: 100px;
     padding-bottom: 100px;
 }

 .testimonial {
     /* background: #fff;*/
     text-align: center;
     padding: 40px 20%;
     border-radius: 5px;
 }

 .testimonial .pic {
     width: 270px;
     height: 270px;
     border-radius: 50%;
     overflow: hidden;
     margin: 0 auto;
     border: 5px solid white;
 }

 .testimonial .pic img {
     width: 100%;
     height: auto;
     /*filter: grayscale(100%);*/
 }

 .testimonial .testimonial-title {
     margin-top: 20px;
     font-size: 16px;
     /*   color: #9e9e9e;*/
     letter-spacing: 3px;
     text-transform: uppercase;
     margin-bottom: 0;
 }

 .testimonial .post {
     display: block;
     font-size: 12px;
     font-style: italic;
     /*  color: #bcbcbc;*/
     margin-top: 10px;
     text-transform: uppercase;
 }

 .testimonial .description {
     font-size: 15px;
     font-style: italic;
     color: white;
     line-height: 1.8;
     margin-top: 10px;
 }

 .owl-theme .owl-controls {
     width: 100%;
     position: absolute;
     top: 45px;
 }

 .owl-theme .owl-controls .owl-buttons div {
     font-size: 40px;
     background: transparent;
     /* opacity: 0.5; */
     top: 80px;
 }

 .owl-theme .owl-prev {
     position: relative;
     left: -45px;
 }

 .owl-theme .owl-next {
     position: relative;
     right: -45px;
 }

 .owl-prev:before,
 .owl-next:before {
     content: "\f053";
     font-family: "FontAwesome";
     font-weight: 900;
     /*  color: #444;*/
     left: -100px;
     position: relative;
 }

 .owl-next:before {
     content: "\f054";
     font-weight: 900;
     /*  color: #444;*/
     left: 100px;
     position: relative;
 }

 @media only screen and (max-width: 480px) {
     .testimonial {
         padding: 40px 10%;
     }
 }


 .t_descrip {
     position: relative;
     font-size: 25px;
     color: white;
     background: #fd4040;
     padding: 15px;
     width: 190px;
     border: 1px solid #fd4040;
     border-radius: 100px;
     /* left: 50%;
     transform: translateX(-50%);*/
     letter-spacing: 12px;
     margin-bottom: 50px;


 }

 .demo .container {
     text-align: -webkit-center;
 }



 /*---------------------------------------
  CONTACT             
-----------------------------------------*/
 .contact {
     padding-top: 50px;
     padding-bottom: 100px;
     background: url(/Images/back2.svg);
 }

 .contact .col-xl-8 {
     display: flex;
     justify-content: flex-end;
 }

 .contact .col-md-8 {
     display: block;
     text-align: center;
     padding-top: 14px;
 }

 .contact .col-md-8 {

     padding-top: 50px;
 }

 .contact .container {
     text-align: -webkit-center;
 }

 .contact .text {
     background: #fd4040;

 }

 .contact h1,
 h2,
 p,
 h3 {
     color: white;
 }

 .contact h1 {
     padding-top: 100px;
 }

 .contact h2 {
     padding-top: 50px;
     font-size: 32px;
 }

 .contact p {

     font-size: 24px;
 }

 .contact .row {
     padding-top: 125px;
 }
.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
    text-align: -webkit-center;}

 /*---------------------------------------
 SLIDER      PARTNERZY       
-----------------------------------------*/
 
 
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 350px;
}




  
 /*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
 @media (min-width: 1300px) {

     .home-text {
         text-align: left;
     }

 }

 @media (max-width: 1300px) {

     .navbar-inverse {
         opacity: 0;
     }

 }

 @media (max-width: 992px) {
     #home h1 {
         font-size: 4em;
         line-height: normal;
     }

     .navbar-inverse {
         opacity: 0;
     }

     #home img {
         width: 300px;
         left: 50%;

         transform: translateX(-50%);
     }

     .project_item_3 {
         display: none;
     }
 }


 @media (max-width: 767px) {
     .project_item_2 {
         display: none;
     }

     .k_banner {


         width: 100%;
         background: url(../Images/back2.svg);
     }
 }

 @media (max-width: 980px) {
     h1 {
         font-size: 30px;
         line-height: inherit;
     }

     .k_banner {


         width: 100%;
         background: url(../Images/back2.svg);
     }

     #home {

         text-align: center;

     }

     .logo img {
         opacity: 0;
     }

     .custom-navbar {
         margin-bottom: 0;

         padding: 20px 0;


     }

     #about {
         padding-top: 120px;
         padding-bottom: 100px;
     }

     #about h1 {
         font-size: 18px;
         line-height: 30px;
     }


     .project-info {
         padding: 4em 0;
     }

     footer {
         text-align: center;
     }

     footer .social-icon {
         margin-top: 32px;
     }
 }

 @media (max-width: 770px) {


     #home img {
         width: 300px;
     }
 }

 @media (max-width: 767px) {
     #home img {
         width: 300px;
     }

     .project-info {
         padding: 10em 0;
     }

     .footer-info {
         padding: 22px 0 22px 0;
     }
 }


 @media (max-width: 580px) {
     h1 {
         font-size: 28px;
     }

     #home p {
         font-size: 1.5em;

         color: white;
     }

     #home img {
         width: 300px;
         top: 10%;

         top: 10%;

         left: 50%;

         transform: translateX(-50%);
     }
     .wrap-contact100 {
    width: 310px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    /* padding: 42px 55px 45px 55px; */
    margin-top: 30px;
}
  .container-contact100 {
	text-align: -webkit-center;
}   
 }

 #home {
     height: 100vh;
     text-align: center;
 }

 .about-info h3 {
     font-size: 12px;
     letter-spacing: 6px;
 }

 #about h1 {
     font-size: 14px;
     line-height: 25px;
 }


 .project-info {
     padding: 5em 0;
 }
 }
